<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Create Cluster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
    <style>
        body {
            background-color: rgba(205, 238, 253, 0.41)
        }
    </style>
</head>
<body ng-app="createCluster" ng-controller="createClusterCtrl">
<div class="w3-container">
    <div class="w3-container w3-black w3-left-align w3-allerta">
        <p class="w3-xlarge w3-text-shadow">Create Cluster</p>
    </div>
    <br/>

    <div align="center">
        <button class="w3-btn w3-teal w3-ripple w3-round" ng-click="createCluster()">Create &#x27a4;</button>
        <i ng-style="spinnerIcon" class="fa fa-spinner fa-spin"
           style="font-size:24px;color:darkslategrey"></i>
    </div>
    <br/>
    <div class="w3-container">
        <div class="w3-card-8">
            <div class="w3-container w3-green">
                <h2>Cluster</h2>
            </div>
            <table class="w3-table w3-bordered w3-striped">
                <tr class="w3-grey">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Number</th>
                    <th></th>
                </tr>
                <tr ng-repeat="c in images | orderBy : 'Name'">
                    <td>{{ c.Name }}</td>
                    <td>{{ c.Country }}</td>
                    <td><input ng-model="num" class="w3-input w3-animate-input" type="number" min="0"
                               ng-change="numberChanged(c.Name, num)"
                               style="width:30%"></td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    var app = angular.module('createCluster', []);
    app.controller('createClusterCtrl', function ($scope, $http) {

        $scope.selectionMap = {};
        $scope.spinnerIcon = {'visibility': 'hidden'};

        function ContainerInfo(name, count) {
            this.name = name;
            this.count = count;
        }

        // get images
        $http.get("http://www.w3schools.com/angular/customers.php")
            .then(function (response) {
                $scope.images = response.data.records;
            });

        // add containers
        $scope.numberChanged = function (name, count) {

            if (count == 0 ) {
                // remove from the map
                delete $scope.selectionMap[name];
            } else {
                // add to the map
                $scope.selectionMap[name] = count;
            }
        }

        // TODO: create the json array from the selectionMap and send it to server
        $scope.createCluster = function() {
            var containerInfoJSONArray= [];
            for (var key in $scope.selectionMap) {
                if ($scope.selectionMap.hasOwnProperty(key)) {
                    console.log(key + " -> " + $scope.selectionMap[key]);
                    var containerInfoJson = new ContainerInfo(key, $scope.selectionMap[key]);
                    containerInfoJSONArray.push(containerInfoJson);
                }
            }

            console.log(JSON.stringify(containerInfoJSONArray));

//            $http({
//                method: 'POST',
//                url: 'http://localhost:3000/crud/createCluster',
//                data: JSON.stringify(containerInfoJSONArray),   // TODO: FIX ME
//                headers: {'Content-Type': 'application/json'}
//            }).success(function(data, status, headers, config) {
//                // this callback will be called asynchronously
//                // when the response is available
//                log.console(data);
//            }).
//            error(function(data, status, headers, config) {
//                // called asynchronously if an error occurs
//                // or server returns response with an error status.
//            });
        };
    });
</script>
</body>