<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Containers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
    <style>
        .w3-allerta {
            font-family: "Allerta Stencil", Sans-serif;
        }
        body {
            background-color: rgba(205, 238, 253, 0.41);
        }
    </style>
</head>

<body ng-app="containerInfoApp" ng-controller="containerCtrl">
    <div class="w3-container">
        <div class="w3-container w3-black w3-left-align w3-allerta">
            <p class="w3-xlarge w3-text-shadow" >Containers</p>
        </div>
        <br/>
        <table class="w3-table w3-bordered w3-striped">
            <tr class="w3-grey">
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Command</th>
                <th>Port</th>
                <th>Status</th>
                <th>Operation</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="c in containers | orderBy : 'Name'">
                <td>{{ c.Name }}</td>
                <td>{{ c.Country }}</td>
                <td>{{ c.Country }}</td>
                <td>{{ c.Name }}</td>
                <td>{{ c.Country }}</td>
                <td>{{ c.Country }}</td>
                <td ng-if="!isRunning == false"><button  class="w3-btn w3-btn-floating w3-green  w3-ripple" ng-click="editContainer('start')">&#x25ba;</button></td>
                <td ng-if="isRunning"><button class="w3-btn w3-btn-floating w3-red w3-ripple" ng-click="editContainer('stop')">&#x25A1;</button></td>
                <td ng-if="isRunning"><button class="w3-btn w3-btn-floating w3-grey w3-ripple" ng-click="editContainer('restart')">&#x21ba;</button></td>
                <td ng-if="!isRunning"><button class="w3-btn w3-btn-floating w3-yellow w3-ripple" ng-click="editContainer('delete')">&#x2718;</button></td>
            </tr>
        </table>
    </div>
    <script>
        var app = angular.module('containerInfoApp', []);
        app.controller('containerCtrl', function ($scope, $http) {
            $http.get("http://www.w3schools.com/angular/customers.php")
                .then(function (response) {
                    $scope.containers = response.data.records;
                });
            /* FOR TEST*/
            /*Remove this variable. for each container check the status {{c.status}} attribute in ng-if*/
            $scope.isRunning = true;

            $scope.editContainer = function(status) {
                if (status == 'start') {
                    /*to do: http request to server*/
                    $scope.isRunning = false;
                } else if (status == 'stop') {
                    /*to do: http request to server*/
                } else {
                    /*(status == 'delete')*/
                    /*to do: http request to server*/
                }
            };
        });
    </script>
</body>
</html>