<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Clusters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
    <style>
        .w3-allerta {
            font-family: "Allerta Stencil", Sans-serif;
        }

        body {
            background-color: rgba(205, 238, 253, 0.41);
        }
    </style>
</head>

<body ng-app="clusterInfoApp" ng-controller="clusterCtrl">
<div class="w3-container">
    <div class="w3-container w3-black w3-left-align w3-allerta">
        <p class="w3-xlarge w3-text-shadow">Clusters</p>
    </div>
    <br/>
    <table class="w3-table w3-bordered w3-striped">
        <tr class="w3-grey">
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Operation</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="c in clusters | orderBy : 'Name'">
            <td>{{ c.Name }}</td>
            <td>{{ c.Country }}</td>
            <td>{{ c.City }}</td>
            <!-- FIX ng-if conditions the current ones are for test -->
            <td ng-if="c.Country == 'Germany'">
                <button class="w3-btn w3-btn-floating w3-green  w3-ripple" ng-click="editCluster('start')">
                    &#x25ba;</button>
            </td>
            <td ng-if="c.Country == 'Mexico'">
                <button class="w3-btn w3-btn-floating w3-red w3-ripple" ng-click="editCluster('stop')">
                    &#x25A1;</button>
            </td>
            <td ng-if="c.Country == 'France'">
                <button class="w3-btn w3-btn-floating w3-grey w3-ripple" ng-click="editCluster('restart')">
                    &#x21ba;</button>
            </td>
            <td ng-if="c.Country == 'UK'">
                <button class="w3-btn w3-btn-floating w3-yellow w3-ripple" ng-click="editCluster('delete')">
                    &#x2718;</button>
            </td>
        </tr>
    </table>
</div>
<script>
    var app = angular.module('clusterInfoApp', []);
    app.controller('clusterCtrl', function ($scope, $http) {
        $http.get("http://www.w3schools.com/angular/customers.php")
            .then(function (response) {
                $scope.clusters = response.data.records;
            });
        /* TODO
         /*For each cluster check the status {{c.status}} attribute in ng-if and set the right icons*/

        $scope.editCluster = function (status) {
            if (status == 'start') {
                /*TODO: http request to server*/
            } else if (status == 'stop') {
                /*TODO: http request to server*/
            } else if (status == 'delete') {
                /*TODO: http request to server*/
            } else if (status == 'restart') {
                /*TODO: http request to server*/
            }
        };
    });
</script>
</body>
</html>